*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image:url(https://img.freepik.com/free-photo/top-view-person-writing-laptop-with-copy-space_23-2148708035.jpg?w=900&t=st=1670624481~exp=1670625081~hmac=4c68aaa86bca07dde89588dd6507385fc4a7b38d37c3c500a4f2cbee7d4097f4);    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

div.container{
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 15px 2%;
    color: white;
}

p{
    font-size: 22px;
    font-weight: 300;
}

h1, .title, .content{
    color: black;
}